# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Dataset
data/tmdb_5000_movies.csv

# Keep data folder
!data/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log